/* @import './base.css';



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


.el-pagination {
  margin-top: 16px;
  justify-content: center;
}
.justify {
  width: 100%;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.border-img {
  max-width: 100%;
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  vertical-align: middle;
}
.auto-width {
  max-width: 100%;
}
.full-width {
  width: 100%;
}
.full-width .el-input:not(:first-child) {
  margin-top: 12px;
}
.drag {
  cursor: move;
}
